body {
    background-color: rgba(248, 248, 248, 0.148);
    background-image: url('img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    color: rgb(249, 239, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#img {
    width: 80px;
    float: right;
    box-shadow: inset;
}

.Heading {
    text-align: center;
    background-color: #16151586;
    font-size: large;
    color: wheat;
}

.Heading :hover {
    color: rgb(255, 255, 255);

}

.navbar {
    margin: 10px 2px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.44);
    color: #f2f2f2;
    text-align: center;
    padding: 8px 25px;
    text-decoration: none;
    font-size: 17px;
    font-size: 20px;
}

.navbar a {
    padding: 20px;
    font-size: 26px;
}

.navbar .active {
    background-color: #d883039c;
    color: rgba(0, 0, 0, 0.742);
    border-radius: 15px;
}

.navbar a:hover {
    background-color: #d883039c;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

.button {
    background-color: #b28b8b6d;
    color: rgb(255, 255, 255);
    padding: 3px 12px;
    margin-bottom: 10px;
    font-size: 30px;
    margin-top: 10px;
    align-items: center;
}

.button:hover {
    background-color: #f7a20e7e;
    color: black;
}

.footer {
    text-align: right;
    padding: 8px;
    padding-bottom: 50px;
    background-color: #302a1fad;
}

#footerimg {
    float: left;
    width: 100px;
}

.footer a {
    padding-left: 10px;
}


.icon {
    size: 10px;
    width: 40px;
    float: right;
    padding-left: 15px;
}

.icon :hover {
    size: 50px;
    width: 100px;
    box-shadow: black;
}

.iconposition {
    padding-right: 10px;
}

.iconposition a {
    margin-right: 10px;
}

form {
    background-color: rgba(0, 0, 0, 0.392);
    box-shadow: inset;
    padding: 30px;
    font-size: 20px;
    border-style: groove;
    margin: 1% 20%;
    text-align: center;
}

form div img {
    width: 250px;
    background-color: rgba(176, 140, 74, 0.752);
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form div img:hover {
    background-color: rgba(176, 140, 74, 0.986);
}

.OTP_no input {
    font-size: 30px;
    background-color: #b28b8b6d;
    color: rgb(255, 255, 255);
    padding: 3px 12px;
    margin-bottom: 20px;
    margin: 0px 5px;
    width: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.otp_page div a {
    color: white;
    background-color: rgba(128, 128, 128, 0.441);
    padding: 0% 1%;
    text-align: center;
    float: right;
    margin-right: 25%;
}

.otp_page div a:hover {
    background-color: rgba(92, 88, 31, 0.671);
}